/* DashboardCounter.css */

.dashboard-counter-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  overflow-x: auto; /* Enable horizontal scrolling */
  gap: 1rem; /* Increased gap between cards for better spacing */
  justify-content: center; /* Center the cards horizontally */
  padding: 0;
}

.card-dash {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 0 0 auto; /* Prevent cards from shrinking or growing */
  width: 200px; /* Set a fixed width for each card */
  margin: 0.5rem; /* Margin around each card */
  text-decoration: none;

}

.card-dash:hover {
  transform: scale(1.05); /* Slightly larger on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* More pronounced shadow on hover */
}

.card-header {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  padding: 1rem 1.5rem; /* Consistent padding */
}

.card-body {
  background: #ffffff;
  color: black;
  padding: 1.5rem; /* Consistent padding */
}

.card-body h3 {
  margin: 0;
  font-size: 2rem; /* Larger font size for better readability */
}

.card-header h4 {
  margin: 0;
  font-size: 1.5rem; /* Adjusted font size */
}

.text-center {
  text-align: center;
}

.bg-primary {
  background-color: #007bff !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-success {
  background-color: #28a745 !important;
}

@media (max-width: 768px) {
  .dashboard-counter-container {
    justify-content: space-between; /* Align cards to the start for scrolling */
  }

  .card-dash {
    flex: 0 0 35%; /* Each card will take up most of the screen width */
    max-width: 200px; /* Optional: set a max width to prevent cards from being too large */
    margin: 1rem;
    margin-left: 2rem;
    text-decoration: none;
  }

  .card-body {
    background: #ffffff;
    color: black;
    padding: 0.5rem; /* Consistent padding */
  }
  
  .card-body h3 {
    margin: 0;
    font-size: 3rem; /* Larger font size for better readability */
  }
}
