/* style.css */

/* General container styles */
.admin-products-container {
  display: flex;
  flex-direction: row;
  padding: 0;
}

/* Sidebar styles */
.sidebar-container {
  border-right: 1px solid #dee2e6;
  position: relative;
  transition: all 0.3s ease;
  height: 100vh; /* Ensure full viewport height */
}

.sidebar-container.minimized {
  width: 80px; /* Adjust this based on your design */
}

.sidebar-container.minimized .sidebar-content {
  opacity: 0;
  visibility: hidden;
}

.toggle-sidebar-btn {
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5rem;
  transition: background 0.3s ease;
}

.toggle-sidebar-btn:hover {
  background: #0056b3;
}

/* Main content styles */
.main-content {
  flex: 1;
  padding: 1rem;
  background-color: #f8f9fa;
  transition: margin-left 0.3s ease;
}

/* Sidebar minimization effects */
.main-content.expanded {
  margin-left: 60px; /* Adjust this based on your design */
}

/* Card styling */
.card {
  border: none;
  height: 80vh;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Button styling */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}
.product-card-div{
  height: 55vh;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-primary .uil-plus {
  margin-right: 0.5rem;
}

/* Product list container */
.product-list-container {
  max-height: 100vh;
  margin:  5px;
}

/* Footer styling */
footer {
  background-color: #f8f9fa;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
}

/* Responsive adjustments */
@media (max-width: 1199px) {
  .admin-products-container {
    flex-direction: column;
  }

  .sidebar-container {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #dee2e6;
    position: static;
    height: auto; /* Ensure height is auto for mobile view */
  }

  .toggle-sidebar-btn {
    display: none;
  }

  .main-content {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .sidebar-container {
    width: 100%;
    height: auto; /* Ensure height is auto for mobile view */
  }

  .main-content {
    padding: 0.5rem;
  }

  .product-list-container {
    max-height: 800px;
  }

  .card {
    margin: 0.5rem 0;
  }
}

@media (max-width: 767px) {
  .btn-primary {
    font-size: 0.875rem;
    padding: 0.5rem;
  }
  .product-card-div{
    max-height: 90vh;
  }

  .toggle-sidebar-btn {
    display: block;
    font-size: 1.25rem;
  }

  .main-content {
    padding: 0.25rem;
  }

  .product-list-container {
    max-height: auto;
  }

  .sidebar-container {
    height: 100vh; /* Ensure full viewport height */
  }
}
