/* src/components/style.css */

.doughnut-chart-container {
    width: 90%; /* Full width of the parent container */
    max-width: 250px; /* Maximum width for the chart */
    height: 250px; /* Fixed height */
    margin: 0 auto; /* Center the chart horizontally */
}

@media (max-width: 768px) {
    .doughnut-chart-container {
        max-width: 200%; /* Adjust max-width for smaller screens */
        height: 250px; /* Adjust height for smaller screens */
    }
}
