/* src/styles/dashboard.css */
.admin-dashboard{
    height: 85vh; /* Full viewport height */
    width: 100%;
    margin: 0;
    overflow: hidden;
  
  }

.dashboard-counter {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.content-area {
    transition: margin-left 0.3s ease; /* Smooth transition for resizing */
    padding: 0.5rem; /* Padding inside content area */
  }




  .charts {
    margin: auto;
    padding: auto;

}

/* src/style.css */


@media (min-width: 768px) {

    .admin-dashboard{
        height: 90vh !important; /* Full viewport height */
        width: 100% !important;
        margin: 0;
        overflow: scroll !important;
        margin-bottom: 200px!important;
      
      }
    .charts {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .chart {
        flex: 1 1 calc(50% - 2rem);
        margin: 1rem;
    }
}

@media (min-width: 1200px) {
    .chart-container {
        height: 400px; /* Increase height for larger screens */
    }
}


